/* READABLE CLASSES */
body.body--readable * {
    background-color: black !important;
    color: white !important;
}
body.body--readable .readable-img,
body.body--readable .readable-img * {
    background-color: transparent !important;
    color: inherit !important;
}
body.body--readable .readable-element,
body.body--readable .readable-element * {
    background-color: white !important;
    color: black !important;
}
body.body--readable .readable-img-restrict,
body.body--readable .readable-img-restrict *,
body.body--readable .readable-img-restrict:before {
    background-image: none !important;
}
.c-hero--wrapper {
    position: relative;
    overflow: hidden;
}
.readable-switcher {
    position: fixed;
    bottom: 50px;
    left: 50px;
    z-index: 100;
    width: 60px;
    height: 60px;
    background-size: 40px;
    background-image: url('../images/light_off.svg');
    background-repeat: no-repeat;
    background-color: white !important;
    background-position: center;
    border-radius: 50%;
    -ms-box-shadow: 0 20px 55px -8px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 20px 55px -8px rgba(0, 0, 0, 0.4);
    box-shadow: 0 20px 55px -8px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.readable-switcher:hover {
    background-image: url('../images/light_on.svg') !important;
    background-repeat: no-repeat;
    background-color: #e12426 !important;
    -webkit-transition: background-position 300ms ease, background-color 200ms ease, opacity 350ms ease;
    transition: background-position 300ms ease, background-color 200ms ease, opacity 350ms ease;
    background-position: center !important;
}
.readable-switcher.active {
    background-image: url('../images/light_on.svg') !important;
    background-color: white !important;
    background-repeat: no-repeat !important;
}
.readable-switcher.active:hover,
.c-scroll-top.u-highest.scroll-show:hover {
    background-color: #e12426 !important;
}

.readable-switcher.active:hover {
    background-image: url('../images/light_off.svg') !important;
}
.team-wrap {
    position: relative;
}
.team-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #70727a;
    justify-content: center;
    text-align: center;
    padding: 10px;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
    cursor: pointer;
}
.team-hover-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.team-hover-more {
    margin-top: 20px;
    border: 1px solid white;
    padding: 2px 25px;
    border-radius: 5px;
}
.team-wrap .team-hover {
    opacity: 0;
}
.team-wrap:hover > .team-hover {
    opacity: 1;
}
.span12.widget-span.widget-type-widget_container.widget-type-leadership,
.team-open {
    float: none !important;
}
.flex-conatiner {
    display: flex;
    flex-wrap: wrap;
}
.flex-conatiner > div {
    flex: 1 0 33%;
    max-width: calc(33.3333333% - 20px);
}
.photo-container > div {
    margin: 10px;
}
.team-member {
    background-position: top !important;
}
.negative-margin-75 {
    margin-top: -75px;
}
.instagram-photo {
    display: inline-block;
    width: 33%;
}
.instagram-photo img {
    width: 100% !important;
    height: 100% !important;
    padding-bottom: 5px;
    padding-right: 5px;
    opacity: 0.5;
}
.play-video {
    font-size: 14px;
    color: black;
    z-index: 11111;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

@media screen and (max-width: 1024px) {
    .flex-conatiner > div {
        flex: 1 0 50%;
        max-width: calc(50% - 20px);
    }
    .team-hover {
        display: none;
    }
}
@media screen and (max-width: 991px) {
    .child-trigger i,
    .child-trigger i:after {
        background-color: white !important;
    }
}
@media screen and (max-width: 767px) {
    .readable-switcher,
    .c-scroll-top.u-highest {
        right: 20px;
        left: auto;
        width: 35px;
        height: 35px;
        background-size: 50%;
        bottom: 20px;
    }
    .c-scroll-top.u-highest {
        right: 70px;
    }
}
@media screen and (max-width: 568px) {
    .flex-conatiner > div {
        flex: 1 0 100%;
        max-width: calc(100% - 20px);
    }
}